@page "/game/{usernick}/{level}"
@using BomberMan.Client.Data

<div class="game-window" tabindex="0" @ref="GameDiv" @onkeypress="@Move">
    @if (GameState == GameState.Lose)
    {
        <div class="">
            You lost the game :(
            <a class="btn btn-warning" @onclick="RestartLevel">Restart</a>
        </div>
    }
    @if (GameState == GameState.Win)
    {
        <div class="">
            You win in time: 10:10:10
            <a class="btn btn-warning" @onclick="RestartLevel">Restart</a>
            <a class="btn btn-warning" @onclick="NewGame">Start with new Nick</a>
        </div>
    }
    @lock (ToRender)
    {
        @foreach (var renderable in ToRender)
        {
            <div class="@renderable.CssClass" style="@renderable.CssStyle" draggable="false" dragstart="false;"> </div>
        }
    }
</div>